$bg-color-gray: #c3cfe2;
$bg-color-overlay: rgb(45, 43, 59);
$bg-color-child: #fff;
$border-radius-standard: 10px;

@mixin standard-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
