$bg-color-white: #fff;
$color-section-text: rgb(104, 103, 103);
$bg-color-footer: #686de0;
$color-footer-text: rgb(183, 180, 224);

@mixin font-section-footer {
  font-family: "Roboto", sans-serif;
  font-size: 2.1rem;
}
$bg-color-gray: #c3cfe2;
