@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "./variables";

html {
  margin: auto;
  font-size: 100%;
  max-width: 46rem;
}

body {
  background-color: $bg-color-gray;
  margin: 1rem 2.5rem 1rem 2rem;
  border-radius: 35px;
  box-shadow: 5px 10px 25px grey;
}

section {
  background-color: $bg-color-white;
  color: $color-section-text;
  text-shadow: 0.3px 0.3px 0.3px $color-section-text;
  line-height: 3.7rem;
  padding: 2.5rem 3.2rem 0.5rem 3.2rem;
  border-top-right-radius: 35px;
  border-top-left-radius: 35px;
  @include font-section-footer();
}

footer {
  background-color: $bg-color-footer;
  text-align: center;
  color: $bg-color-white;
  padding-bottom: 3rem;
  border-bottom-right-radius: 35px;
  border-bottom-left-radius: 35px;
  @include font-section-footer();
  .footer-font1 {
    letter-spacing: 0.2rem;
    font-weight: bold;
    font-size: 1.9rem;
    line-height: 0.5rem;
  }
  .footer-color {
    color: $color-footer-text;
  }
  .footer-font2 {
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .circle {
    border: 8px $bg-color-white solid;
    width: 190px;
    height: 190px;
    border-radius: 190px;
    /* photo incl. border is 206px*/
  }
  .img-container {
    height: 103px;
    background: $bg-color-white;
  }
  .img-fill {
    height: 103px;
  }
}
